* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.none {
    display: none !important;
}



/*========== HEADER ==========*/

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;

    width: 100%;
    height: 100vh;

    background-color: black;
    background-image: url("/img/header-bg.jpg");
    background-size: cover;
    background-position: center;
}

.header-title {
    position: relative;
    margin: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.header-subtitle {
    position: relative;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-arrow {
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}

#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}



/*========== PORTFOLIO ==========*/

.portfolio {
    padding-top: 80px;
    padding-bottom: 115px;
}

.portfolio-header {
    margin: 0;
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: #000000;
}

.portfolio-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card {
    margin-bottom: 30px;
    padding: 20px;
    max-width: 540px;
    background-color: white;
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
}

.card:last-child, .card:nth-last-child(2) {
    margin-bottom: 0;
}

.card-img {
    margin-bottom: 20px;
}

.card-title {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
}

.card p {
    margin: 0;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
}




/*========== FOOTER ==========*/

.footer {
    padding-top: 45px;
    padding-bottom: 130px;
    background-color: #1E4776;
    color: white;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-col {
    max-width: 350px;
    flex-grow: 1;
}

.footer-copyright {
    color: #7E9EC9;
    line-height: 1.3;
}

.footer-copyright-name {
    font-size: 28px;    
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;   
}


.footer-icons p {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
}

.footer-icons-row {
    display: flex;
    align-items: center;
}

.footer-icons-row > * + *{
    margin-left: 30px;
}

.footer-button {
    display: inline-block;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;

    border: 3px solid #FFFFFF;
    border-radius: 50px;

    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 44px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-contacts p {
    margin: 15px 0;
    font-size: 15px;
    line-height: 1.3;
    color: #7E9EC9;
}